---
notes: |
  `button` component.
---
<div class="row">
	<div class=" col-xs-12 col-sm-6 col-md-4 text-center"><button class="btn btn-lg btn-jordy">Learn More</button></div>
	<div class=" col-xs-12 col-sm-6 col-md-4 text-center"><button data-button="add" class="btn btn-lg btn-carissma"></button></div>
	<div class="col-xs-12 col-sm-12 col-md-4 text-center"><button data-button="remove" class="btn btn-lg btn-cream"></button></div>
	<div class="col-xs-12 visible-xs-block text-center"><button data-button="remove" class="btn btn-lg btn-sulu visible-xs-block"></button></div>
</div>
