// Variables
// Define the custom SASS variables for your project here.
// Example
//$font-family: font-family: 'Raleway', sans-serif;
// $font-family:font-family: 'EB Garamond', serif;
$_settings: (
    'dev-mode':                     true
);

$base-colors: (
	dark: "#1d1b1b",
	light: "#b3b3b3",
	lighter: "#dadada",
	jordy-blue: "#93adf5",
	carissma: "#ea8493",
	cream-can: "#f2d256",
	sulu: "#a4eb89"
);


